/* stylelint-disable color-function-alias-notation */
/* stylelint-disable declaration-no-important */
@use "./mixins/breakpoint.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family), sans-serif;
  -webkit-text-size-adjust: 100%;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

.page__body {
  margin: 0;
  min-width: 375px;
  min-height: 100%;
  font-size: 16px;
  color: var(--text-primary);
  background: var(--bg-primary);
}

.page__icons {
  display: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.stop-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);

  @include mobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

@view-transition {
  navigation: auto;
}

/* Базовая анимация */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:focus-visible {
  outline: 2px solid #4493f8;
  outline-offset: 3px;
  border-radius: 2px;
}

.simplebar-track.simplebar-vertical {
  right: 8px;
  margin: 16px 0;
  width: 4px !important;
  border-radius: 10px;
  background: #343434;

  .simplebar-scrollbar {
    inset: 0;
    border-radius: 10px;
    opacity: 1;
    background: #d70024;
  }
}
