// если вы хотите использовать sass-переменные - удалите root
@use "./mixins/breakpoint.scss" as *;

// colors
:root {
  // base

  --font-family: "Nunito Sans", sans-serif;
  --second-family: "Russo One", sans-serif;
  --third-family: "Consolas", sans-serif;

  --content-width: 1920px;
  --container-offset: 40px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors

  --accent: #d70024;
  --accent-hover: #b6001f;
  --accent-active: #99001a;
  --green-color: #279957;
  --red-color: #e53935;
  --yellow-color: #e99b21;
  --bg-primary: #121212;
  --bg-surface: #1e1e1e;
  --bg-elevated: #343434;
  --bg-surface-hover: #2a2a2a;
  --bg-surface-active: #333;
  --bg-elevated-hover: #3d3d3d;
  --bg-elevated-active: #464646;
  --text-primary: #f0f0f0;
  --text-secondary: #9d9d9d;

  // gap
  --gap: 24px;
}

[data-theme="light"] {
  --bg-primary: #fff;
  --bg-surface: #f5f5f5;
  --bg-elevated: #e0e0e0;
  --text-primary: #1a1a1a;
  --text-secondary: #555;
  --bg-surface-hover: #ebebeb;
  --bg-surface-active: #e2e2e2;
  --bg-elevated-hover: #dcdcdc;
  --bg-elevated-active: #d4d4d4;
}

:root:not([data-theme]) {
  @media (prefers-color-scheme: light) {
    --bg-primary: #fff;
    --bg-surface: #f5f5f5;
    --bg-elevated: #e0e0e0;
    --text-primary: #1a1a1a;
    --text-secondary: #555;
    --bg-surface-hover: #ebebeb;
    --bg-surface-active: #e2e2e2;
    --bg-elevated-hover: #dcdcdc;
    --bg-elevated-active: #d4d4d4;
  }

  @media (prefers-color-scheme: dark) {
    --bg-primary: #121212;
    --bg-surface: #1e1e1e;
    --bg-elevated: #343434;
    --bg-surface-hover: #2a2a2a;
    --bg-surface-active: #333;
    --bg-elevated-hover: #3d3d3d;
    --bg-elevated-active: #464646;
    --text-primary: #f0f0f0;
    --text-secondary: #9d9d9d;
  }
}
