/* stylelint-disable at-rule-empty-line-before */
// базовые подключения
@use "vars" as *;
@use "fonts" as *;
@use "settings" as *;

@use "../../../node_modules/simplebar/dist/simplebar.min.css" as *;
@use "../../../node_modules/graph-modal/dist/graph-modal.min.css" as *;

// подключения компонентов страницы
@use "./components/input" as *;
@use "./components/header" as *;
@use "./components/nav" as *;
@use "./components/burger" as *;
@use "./components/search" as *;
@use "./components/game-platforms" as *;
@use "./components/search-results" as *;
@use "./components/theme-select" as *;
@use "./components/site-modal" as *;

//cards

@use "./components/games-card-mini" as *;
@use "./components/collections-card-mini" as *;
@use "./components/users-card-mini" as *;
