/* stylelint-disable at-rule-empty-line-before */
// базовые подключения
@use "vars" as *;
@use "fonts" as *;
@use "settings" as *;

// подключения компонентов страницы
@use "./components/header" as *;
@use "./components/nav" as *;
@use "./components/burger" as *;
@use "./components/search" as *;
