/* stylelint-disable */
@mixin large {
  @media (max-width: (1700px)) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: (1199.98px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1023.98px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (767.98px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (575.98px)) {
    @content;
  }
}
