@use "../mixins/disable-mob-hover" as *;

.breadcrumbs {
  display: inline-flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  gap: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &::after {
      content: "/";
      display: block;
      color: var(--text-primary);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    white-space: nowrap;
    text-decoration: none;
    color: var(--text-secondary);
    transition: color 0.3s;

    &[href] {
      color: var(--text-primary);

      &:focus-visible {
        outline: none;
        color: var(--accent);
      }

      @include hover {
        color: var(--accent);
      }

      &:active {
        color: var(--accent-active);
      }
    }
  }
}
