@use "../mixins/breakpoint.scss" as *;

.cards-content {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: var(--gap);
  }

  &__item {
    grid-column: 3 span;

    @include desktop {
      grid-column: 4 span;
    }

    @include tablet {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }
}
