@use "../mixins/disable-mob-hover" as *;
@use "../mixins/breakpoint.scss" as *;

.catalog {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__filter-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--text-primary);
    transition: color 0.3s;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: currentcolor;
      object-fit: cover;
    }

    &-count {
      border-radius: 100px;
      min-width: 20px;
      height: 20px;
      padding: 3px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      text-align: center;
      color: #f0f0f0;
      background: var(--accent);

      &--hidden {
        display: none;
      }
    }

    @include hover {
      color: var(--accent);
    }

    &:active {
      color: var(--accent-active);
    }
  }

  &__actions {
    display: inline-flex;
    align-items: center;
    gap: var(--gap);
  }

  &__item {
    grid-column: 3 span;

    @include desktop {
      grid-column: 4 span;
    }

    @include tablet {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }

  &__list {
    &--big {
      .catalog__item {
        grid-column: 4 span;

        @include desktop {
          grid-column: 6 span;
        }

        @include tablet {
          grid-column: 12 span;
        }

        @include mobile {
          grid-column: 4 span;
        }
      }
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    margin-top: 28px;
  }
}
