.comments-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  &__label {
    width: 100%;

    .just-validate-error-label {
      margin-top: 8px;
      color: var(--red-color) !important;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 160px;
    background: var(--bg-surface);
  }
}
