@use "../mixins/disable-mob-hover" as *;
@use "../mixins/breakpoint.scss" as *;

.games-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-elevated);
  border-radius: 16px;
  min-height: 487px;
  background: var(--bg-surface);

  &__pic {
    display: block;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 240px;
    max-width: 100%;
    object-fit: cover;
  }

  &__text {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;

    @include mobile {
      padding: 16px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  .game-platforms {
    gap: 8px;

    &__icon {
      fill: var(--text-primary);
    }
  }

  &__title {
    overflow: hidden;
    margin: 0;
    margin-bottom: 8px;
    margin-left: -8px;
    padding: 4px 0;
    padding-left: 8px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-primary);
  }

  &__link {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;

    @include hover {
      color: var(--accent);
    }

    &:active {
      color: var(--accent-active);
    }
  }

  &__genres {
    overflow: hidden;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-secondary);
  }

  &__date {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-secondary);
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 16px;
  }

  &__more {
    flex-grow: 1;

    @include mobile {
      min-height: 35px;
    }
  }

  &__add {
    flex-shrink: 0;
    border: 2px solid var(--accent);
    border-radius: 100px;
    padding: 10px;
    width: 46px;
    height: 46px;

    @include mobile {
      padding: 0;
      width: 35px;
      height: 35px;

      svg {
        display: block;
        width: 15px;
        height: 15px;
      }
    }
  }
}
