@use "../mixins/disable-mob-hover" as *;

.games-card-mini {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 8px var(--gap);

  &__pic {
    width: 40px;
    height: 46px;
    border-radius: 4px;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    margin-top: 8px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #f0f0f0;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }

    @include hover {
      color: var(--accent);
    }

    &:active {
      color: var(--accent-active);
    }
  }
}
