@use "../mixins/disable-mob-hover" as *;
@use "../mixins/breakpoint.scss" as *;

.grid-toggle {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  &__btn {
    width: 20px;
    height: 20px;
    color: var(--text-secondary);
    transition: color 0.3s;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentcolor;
      object-fit: cover;
    }

    @include hover {
      color: var(--accent);
    }

    &:active {
      color: var(--accent-active);
    }

    &[aria-pressed="true"] {
      color: var(--text-primary);
      pointer-events: none;
    }
  }

  @include mobile {
    display: none;
  }
}
