@use "../mixins/disable-mob-hover" as *;
@use "../mixins/breakpoint.scss" as *;

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  padding: var(--gap) 0;
  width: 100%;
  background: #121212;
  transition: background 0.3s;

  &__inner {
    display: flex;
    align-items: center;
    gap: var(--gap);

    @include small-tablet {
      flex-wrap: wrap;
      row-gap: 12px;
    }
  }

  &__search {
    flex-grow: 1;

    @include small-tablet {
      order: 4;
      width: 100%;
    }
  }

  &__logo {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    line-height: 120%;
    color: var(--text-primary);
    transition: color 0.3s;

    &[href] {
      @include hover {
        color: var(--accent);
      }

      &:active {
        color: var(--accent-active);
      }
    }
  }

  &__nav {
    @include desktop {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      border-radius: 0 16px 16px 0;
      padding: 60px 16px;
      width: 80%;
      height: 100vh;
      max-width: 300px;
      background: var(--bg-surface);
      visibility: hidden;
      transition:
        visibility 0.3s,
        translate 0.3s;
      translate: -100% 0;

      .nav__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }

      .nav__link {
        font-size: 24px;
        color: var(--text-primary);
      }

      &.header__nav--visible {
        visibility: visible;
        translate: 0;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: var(--gap);

    @include small-tablet {
      margin-left: auto;
    }
  }

  &__btn {
    display: inline-flex;
    border-radius: 16px;
    padding: 12px;
    background: #1e1e1e;
    transition: background 0.3s;

    svg {
      width: 20px;
      height: 20px;
      fill: #f0f0f0;
    }

    @include hover {
      background: #2a2a2a;
    }

    &:active {
      background: #333;
    }

    @include small-tablet {
      padding: 0;
      background-color: transparent;
    }
  }

  &--scrolled {
    background-color: var(--bg-primary) !important;
  }
}
