@use "../mixins/breakpoint.scss" as *;

.hero {
  position: relative;
  padding-top: calc(var(--header-height) + var(--gap));
  padding-bottom: 36px;

  &__title {
    display: flex;
    align-items: flex-start;
    margin: 0;
    margin-top: 40px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: var(--text-primary);
    gap: 8px;

    @include mobile {
      margin-top: 28px;
      font-size: 28px;
    }
  }

  &__games-count {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--accent);
  }
}
