.input {
  border-radius: 100px;
  padding: 0 16px;
  height: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-primary);
  background: var(--bg-elevated);

  &::placeholder {
    color: var(--text-secondary);
  }
}
