@use "../mixins/disable-mob-hover" as *;
@use "../mixins/breakpoint.scss" as *;

.main-collections {
  &__content {
    position: relative;

    @include large {
      padding-bottom: 80px;
    }

    @include mobile {
      padding-bottom: 52px;
    }
  }

  &__slider-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    translate: 0 -50%;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    color: var(--text-primary);
    background: var(--bg-elevated);
    transition: background 0.3s;
    z-index: 5;

    &--prev {
      left: -56px;
      @include large {
        left: calc(50% - 70px);
      }

      @include mobile {
        left: calc(50% - 45px);
      }
    }

    &--next {
      right: -56px;
      @include large {
        right: calc(50% - 70px);
      }

      @include mobile {
        right: calc(50% - 45px);
      }
    }

    @include hover {
      background: var(--bg-elevated-hover);
    }

    &:active {
      background: var(--bg-elevated-active);
    }

    @include large {
      top: auto;
      bottom: 0;
      translate: 0;
    }

    @include mobile {
      width: 36px;
      height: 36px;

      svg {
        width: 6px;
      }
    }
  }

  &__slider-icon {
    display: block;
    width: 9px;
    height: 19px;
    fill: currentcolor;
  }

  .swiper-slide {
    height: auto;
  }
}
