@use "../mixins/breakpoint.scss" as *;

.main-articles {
  &__list {
    grid-template-rows: repeat(2, 228px);
  }

  &__item {
    grid-column: 6 span;

    &--big {
      grid-row: 2 span;
    }

    @include desktop {
      grid-column: 12 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }
}
