@use "../mixins/disable-mob-hover.scss" as *;

.not-found {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 var(--gap);
  padding-top: calc(var(--header-height) + var(--gap));
  padding-bottom: 80px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 753px;
  }

  &__smile {
    margin-bottom: var(--gap);
    font-weight: 400;
    font-size: 140px;
    line-height: 120%;
    color: var(--text-primary);
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: var(--text-primary);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: var(--text-primary);

    a {
      text-decoration: underline;
      color: var(--accent);
      transition:
        color 0.3s,
        text-decoration-color 0.3s;
      text-decoration-skip-ink: none;

      @include hover {
        text-decoration-color: transparent;
      }

      &:active {
        text-decoration-color: transparent;
        color: var(--accent-active);
      }
    }
  }
}
