@use "../mixins/disable-mob-hover.scss" as *;
@use "../mixins/breakpoint.scss" as *;

.personal-hero {
  position: relative;
  padding-top: calc(var(--header-height) + 80px);
  padding-bottom: 60px;

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-elevated);
    padding-bottom: var(--gap);
    gap: var(--gap);

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: var(--text-primary);
    gap: var(--gap);

    @include mobile {
      font-size: 24px;
    }
  }

  &__avatar {
    display: block;
    border-radius: 100%;
    width: 68px;
    height: 68px;
    object-fit: cover;

    @include mobile {
      width: 48px;
      height: 48px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    color: var(--text-secondary);
    transition: color 0.3s;
    gap: 8px;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: currentcolor;
    }

    @include hover {
      color: var(--accent);
    }

    &:active {
      color: var(--accent-active);
    }
  }

  @include tablet {
    padding-top: calc(var(--header-height) + 20px);
  }

  @include mobile {
    padding-top: calc(var(--header-height) + var(--gap));
    padding-bottom: 24px;
  }
}
