.rating {
  position: relative;
  display: inline-block;
  width: max-content;

  &__base,
  &__fill {
    display: flex;
    gap: 4px;

    svg {
      display: block;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }

  &__base {
    svg {
      fill: none;
      stroke: var(--text-secondary);
    }
  }

  &__fill {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: var(--fill, 0%);
    white-space: nowrap;
    color: var(--color);

    svg {
      fill: var(--color);
      stroke: var(--color);
    }
  }

  &--green {
    --color: var(--green-color);
  }

  &--yellow {
    --color: var(--yellow-color);
  }

  &--red {
    --color: var(--red-color);
  }
}
