@use "../mixins/disable-mob-hover" as *;

.site-modal {
  .site-modal__container {
    max-width: 420px;
    border-radius: 16px;
    padding: 40px;
    padding-bottom: 32px;
    background: var(--bg-surface);
  }

  .site-modal__close {
    width: 20px;
    height: 20px;
    color: var(--text-primary);
    background-image: none;
    transition: color 0.3s;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentcolor;
      object-fit: cover;
    }

    @include hover {
      color: var(--accent);
    }

    &:active {
      color: var(--accent-active);
    }
  }

  .site-modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: var(--text-primary);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    gap: 12px;
  }

  &__label {
    position: relative;
    width: 100%;

    .just-validate-error-label {
      margin-top: 8px;
      color: var(--red-color) !important;
    }
  }

  &__input {
    width: 100%;
  }

  &__textarea {
    width: 100%;
  }

  &__btn {
    width: 100%;
  }
}
