@use "../mixins/disable-mob-hover.scss" as *;

.testimonial-card {
  position: relative;
  display: flex;
  border: 1px solid var(--bg-elevated);
  border-radius: 16px;
  padding: 20px;
  background: var(--bg-surface);
  gap: 40px;

  &__left {
    position: relative;
    width: calc(100% - 40px - 288px);

    &::after {
      content: "";
      position: absolute;
      right: -20px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: var(--bg-elevated);
    }
  }

  &__right {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 288px;
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--text-primary);
  }

  &__descr {
    display: -webkit-box;
    overflow: hidden;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-secondary);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .expand-btn {
    margin-top: 8px;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 28px;
  }

  &__author {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-login {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      text-decoration: none;
      color: var(--text-primary);
      transition: color 0.3s;

      @include hover {
        color: var(--accent);
      }

      &:active {
        color: var(--accent-active);
      }
    }

    &-date {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: var(--text-secondary);
    }
  }

  &__reactions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--gap);
    gap: 8px;

    &-block {
      border-radius: 100px;
      padding: 8px 12px;
      font-weight: 400;
      font-size: 12px;
      color: var(--text-primary);
      background: var(--bg-elevated);
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 12px;

    &-value {
      position: relative;
      top: 2px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: var(--text-primary);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 16px;
  }

  &__comment {
    flex-grow: 1;
  }

  &__complain {
    padding: 4px;
    width: 46px;
    height: 46px;
  }

  &--disable-expand {
    .testimonial-card__descr {
      display: block;
      overflow: visible;
      -webkit-box-orient: unset;
      -webkit-line-clamp: unset;
    }
  }
}
