@use "../mixins/disable-mob-hover" as *;
@use "../mixins/breakpoint.scss" as *;

.title-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 28px;

  &__title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: var(--text-primary);

    @include mobile {
      font-size: 24px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: underline;
    color: var(--accent);
    transition:
      color 0.3s,
      text-decoration-color 0.3s;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;

    @include hover {
      text-decoration-color: transparent;
      color: var(--accent-hover);
    }

    &:active {
      color: var(--accent-active);
    }
  }

  &--mini {
    padding-bottom: var(--gap);

    .title-bar__title {
      font-size: 24px;
    }
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 24px;
    gap: 8px;

    &--mini {
      flex-direction: row;
      align-items: center;
      padding-bottom: 20px;

      .title-bar__title {
        font-size: 20px;
      }
    }
  }
}
