.tooltip {
  position: relative;
  display: inline-block;
  width: max-content;

  &__elem {
    position: absolute;
    max-width: 155px;
    width: max-content;
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--text-primary);
    z-index: 2;
    background: var(--bg-elevated);

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }

    &::before {
      content: "";
      position: absolute;
      width: 21px;
      height: 19px;
      z-index: -1;
      background-image: url("/img/triangle.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &[data-position-vert="top"] {
      bottom: calc(100% + 12px);

      &::before {
        top: calc(100% - 12px);
      }
    }

    &[data-position-vert="bottom"] {
      bottom: calc(100% + 12px);

      &::before {
        top: calc(100% - 12px);
        rotate: 180deg;
      }
    }

    &[data-position-hor="right"] {
      right: 0;

      &::before {
        right: 12px;
      }
    }

    &[data-position-hor="left"] {
      left: 0;

      &::before {
        left: 12px;
      }
    }
  }
}

[data-theme="light"] .tooltip__elem {
  &::before {
    background-image: url("/img/triangle-light.svg");
  }
}
