@use "../mixins/disable-mob-hover" as *;

.users-card-mini {
  position: relative;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 8px var(--gap);

  &__pic {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }

  &__name {
    margin-bottom: 8px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #f0f0f0;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }

    @include hover {
      color: var(--accent);
    }

    &:active {
      color: var(--accent-active);
    }
  }

  &__collections {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #9d9d9d;

    svg {
      display: block;
      width: 12px;
      height: 12px;
      fill: currentcolor;
    }
  }
}
