---
import Search from '@/components/base/Search.astro'
import Nav from '@/components/base/Nav.astro'
import ThemeSelect from '@/components/base/ThemeSelect.astro'
import {Icon} from 'astro-icon/components'
import {menu} from '@/data/data'

const isHome = Astro.url.pathname === '/'
---

<header class="header fix-block" data-header>
  <div class="container">
    <div class="header__inner">
      {
        isHome ? (
          <span class="header__logo">ИгроПолис</span>
        ) : (
          <a href="/" class="header__logo">ИгроПолис</a>
        )
      }
      <Search class="header__search"/>
      <Nav class="header__nav" menu={menu}/>

      <div class="header__btns">
        <ThemeSelect/>
        <button class="header__btn btn-reset" aria-label="открыть окно для входа" title="открыть окно для входа">
          <Icon name="profile" aria-hidden="true"/>
        </button>
      </div>
    </div>
  </div>
</header>
